@import 'normalize';
@import 'mixins';
@import 'slick';
@import url('https://fonts.googleapis.com/css?family=Arimo|Bebas+Neue|Oswald|Diplomata|Fredoka+One|Odibee+Sans|Spartan&display=swap');

$title: 'Diplomata', ;
$text: 'Spartan', ;
$main:'Arimo', ;
$logoW:'Fredoka One',;
$logoF: 'Odibee Sans',;
$port:'Oswald,' sans-serif;
$port2:'Bebas Neue' cursive;



*{box-sizing: border-box;}
html{
	font-size: 10px;
	height: 100%;
}
body{
	font-size: 1.8rem;
	line-height: 1.6;
	min-height: 100%;
   width: 100vw;

}
main{
   font-family: $main;
   background-color: #000;
   margin: 0;
   padding: 0;
   width: 100%;
   overflow: hidden;
}
.logo{
	text-align: center;
	display: block;
	width: 12rem;
	height: 100%;
	line-height: 2rem;
	& a{
		color:#8f8d8d;
		text-decoration: none;
		cursor: pointer;
		@include tr(.05s);
		&:hover{
			color:#fff;
		}
	}
	& span:first-child{
		font-family: $logoW;
		font-size: 1.8rem;
	}
	& span:last-child{
		font-family: $logoF;
		font-size: 2.4rem;
		font-weight: 600;
	}
}
.nav{
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	background-color: transparent;
	z-index: 2;
	display: flex;
	align-items:  center;
    justify-content: space-around;
	&__burger{ 
		// outline: 1px red solid;
		position:absolute; 
		top: 0;
		left: 0;
		cursor: pointer;
	}
	#check_menu{
		display:none;
	}
	#check_menu:checked ~ &__line{
		&::before{
		 transform:rotate(35deg);  
		 width: 25px;               
		}
		&::after{
		 transform:rotate(-35deg);
		 width: 25px;
		}
	}
	&__sidebar{
		font-family: $main;
		@include tr(.1s);
		z-index: 1;
	}
	&__list{
		display: flex;
		list-style: none;
		justify-content: space-around;
	}
	&__item{
		text-align: left;
		margin: 0 3rem;
		& a{
			text-decoration: none;
			color:#fff;
			&:hover{
				text-decoration-line: underline;
				color:#fff;
			}
		}
	}
	#check_menu:checked ~ &__sidebar{
		left:0;
	}
	&__line{
		display: none;	
		height: 3px;
		width: 45px;
		@include tr(.5s);
		border-radius: 40%;
		background-color: #fff;
		&::before,
		&::after{
			content:"";
			display: block;
			height: 3px;
			width: 45px;
			background-color: inherit;
			@include tr(.05s);
		}
		&::before{
			border-radius: 40%;
			transform:translateY(300%) ;
			transform-origin:1px 2px;
		}
		&::after{
			border-radius: 40%;
			transform:translateY(-400%) ;
			transform-origin: -3px 0px;
		}
	}
}
	@media(max-width: 576px){
		.nav{
			height: 50px;
                   &__sidebar{
		                position: absolute;
		                top: 0;
		                width: 12rem;
		                height: 100vh;
		                overflow: auto;
		                left: -25rem;
                        background-color: #000;
                        opacity: .9;
	                }
                	&__line{
                		position: relative;
                		display: inline-block;
                		margin-left: 2rem;
                		margin-top: 4rem;
                		z-index: 10;
                	}
                	&__list{
                		display: flex;
                        padding-left: 3rem;
                        padding-top: 5rem;
                        padding-bottom: 1rem;
                		flex-direction: column;
                		align-items: flex-start;
                		opacity: .7;
                	}
                	&__item{
                		width: 100%;
                		margin: 2rem;
                	}
		}
	}
.home{
	width: 100%;
	height: 100vh;
	text-align: center;
	background-image: url(../img/manCofeeLaptop.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	position: relative;
	&::before{
		content:"";
		background-color: #000;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		opacity: .5;
	}
		&__logo{
        position: absolute;
        top:1rem;
        right: 2rem	;
		& a{
			color:#8f8d8d;
			text-decoration: none;
			cursor: pointer;
			@include tr(.05s);
			&:hover{
				color:#fff;
			}
		}
		& span:first-child{
			font-family: $logoW;
			font-size: 1.8rem;
		}
		& span:last-child{
			font-family: $logoF;
			font-size: 2.4rem;
			font-weight: 600;
		}
	}
	&__title{
		margin: 0;
		padding-bottom: 0;
		padding-top:20%;
		font-size: 12rem;
		color: #fff;
		z-index: 1;
		position: relative;
		font-family: $title;
	}
	&__text{
		text-align: left;
		margin: 0 auto;
		padding: 0;
		font-size: 1.6rem;
		color:#fff;
		width: 60%;
		position: relative;
		font-family: $text;
	}
}
.services{
	background-color: #1c80a1;
	width: 100%;
	height: 60vh;
	color: #fff;
	text-align: center;
	& div:nth-of-type(even){
		padding-top: 20rem; 
	}
	&__title{
		font-size: 5rem;
		margin: 0 ;
		padding: 3rem 0 3rem;
		font-weight: 400;
		letter-spacing:3px;
	}
	&__serv{
		display: inline-block;
		width: 30%;
		height: 80%; 	 	
		font-size: 2rem;
		padding-bottom: 4rem;
		overflow: hidden;
		& p{
			width: 90%;
			margin: 0 auto;
		}
	}
	&__pct{
		& svg{
			width: 100px;
			height: 100px;
		}
		height: auto;
		margin: 0 auto;
		display: inline-block;  		
	}
}
.about{
	width: 100%;
	height: 80vh;
	background-color: #cbcacc;
	text-align: center;
	padding: 0 8rem;
	line-height: 2.2;
	&__content{
		display: flex;
		margin: 0;
		padding: 0;
	}															
	&__title{
		font-size: 5rem;
		padding: 3rem 0 3rem;
		margin: 0;
	}
	&__text{
		width: 55%;
		text-align: left;
		height:auto;
		padding: 0 4rem;
	}
	&__pct{
		width: 40%;
		height: auto;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__list{
		list-style: none;
		padding-left: 0;
	}
	&__item{
		display: flex;
		align-items: center;
		margin: 2rem 0;
	}
	&__icon {
		width: 8%;
		margin-right: 2rem;
		display: flex;
		align-items: center;
		svg{
			width:100%;
			height: auto;
		}
	}
	&__str{
		line-height: 2.8rem;
	}
	&__btn{
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 4rem auto;
		color:#1c80a1;
		width: 16%;
		height: 8%;
		border-radius:50px;
		border: 4px solid #1c80a1;
		letter-spacing: 4px;
		word-spacing: 8px;
		font-size: 2.8rem;
		cursor: pointer;
		&:hover{
			background-color: #1c80a1;
			color:#fff;
		}
	}
}
.portfolio{
	width: 100%;
	height: 220vh;
	background-color: #bababb;
	text-align: center;
	position: relative;
	&::before{
		content:"PORTFOLIO";
         display: inline-block;
		transform:rotate(-90deg);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 3rem;
		font-size: 30rem;
		color:#52adbd;
	}
	&__title{
		font-size: 5rem;
		padding: 3rem 0 3rem;
		position: relative;
		margin: 0;
		font-weight: 400;
		color:#292929;
	}
	&__container{
		position: relative;
		display: flex;
		flex-direction: row;
		width: 100%;
		height: auto;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-between;
		padding: 0 12rem 3rem;
		z-index: 1;
		&--rev{
			flex-direction: row-reverse;
		}
	}
	&__pct{
		margin: 2rem;
		&:nth-of-type(odd){
			width: 40%;
		}
		&:nth-of-type(even){
			width:50%;
		}
		& img{
			width: 100%;
			height: 100%;
		}
	}
	&__btn{
		position: relative;
		margin: 4rem auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
		color:#1c80a1;
		width: 16%;
		height: 3%;
		border-radius:50px;
		border: 4px solid #1c80a1;
		font-size: 3.2rem;
		word-spacing: 12px;
		cursor: pointer;
		&:hover{
			background-color: #1c80a1;
			color:#fff;
		}
	}
}
  .skills{
	  width: 100%;
	  display: block;
	  text-align: center;
	  height:100vh ;
	  position: relative;
	  background-color: #000;
	  z-index: 0;
	  & input{
	  	display: none;
	  }
	  & label{
	  	display: inline-block;
        width: auto;
        height: auto;
        @include tr(.1s);
	  }
         #slide1:checked ~ &__ui .skills__fr{
           background-color: #F36518;
           color:#fff;
         }
         #slide2:checked ~ &__ui .skills__w{
           background-color: #FF7262;
           color:#fff;
        	}
	  #slide1:checked ~ .skills__slider > .slide1{
	  	transform:translateX(0%);
        @include tr(.3s);
	  }
	  #slide1:checked ~ .skills__slider > .slide2{
	  	transform:translateX(100%);
        @include tr(.3s);
	  }
	  #slide2:checked ~ .skills__slider > .slide1{
	  	transform:translateX(-100%);
        @include tr(.3s);
	  }
	  #slide2:checked ~ .skills__slider > .slide2{
	  	transform:translateX(0%);
        @include tr(.3s);
	  }
	  // #slide1:checked ~ .skills__slider > .slide1,
	  // #slide2:checked ~ .skills__slider > .slide2,{
	  	// opacity: 1;	
	  	// z-index: 1;
	  // }
	  &__slider{
	  	position: relative;
	    height:inherit;
	    width: 100%;
	    overflow: hidden;
	    display: flex;
	  }
	  &__title{
		font-size: 5rem;
		padding: 5rem 0 3rem;
		margin: 0;
		color: #fff;
		position: relative;
	  }
	  &__front,&__web{
	  	position: absolute;
        display: inline-block;
        height: inherit;
		width: 100%;
		padding-bottom: 4rem;
		z-index: 1;
        }
	  &__front{
		  background-image: url(../img/LightCode.jpg);
		  background-size: cover;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  &--left{
           margin-left: 24%;
           	&::after{
		  		left:200%;
		  	}
		  	&::before{
		  		left: 200%;
		  	}
		  }
		  &::before{
			content:"";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right:0 ;
			background-color: #000;
			opacity: .7;
		    }
		}
		&__web{
		  background-image: url(../img/design.png);
		  background-size: cover;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  transform:translateX(100%);
		  &--left{
		  	margin-left: 74%;
		  	&::after{
					left: -1100%;
				}
		  }
		  &::before{
			content:"";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right:0 ;
			background-color: #000;
			opacity: .5;
		}
	  }
	  &__pct{
		  position: relative;
		  width: 5%;
		  height: auto;
          display: flex;
          align-items: center;
          justify-content: space-around;
		  &--html{
			margin-top: 0;
			  &::before{
			  	  width: 800%;
			  }
		  }
		  &--css{
			margin-top: 2%;
			  &::before{
				  width: 800%;
			  }
		  }
		  &--js{
			margin-top: 2%;
			&::before{
				width: 600%;
			}
		}
		&--sass{
			margin-top: 2%;
			&::before{
				width: 800%;
			}
		}
		&--b{
			margin-top: 2%;
			&::before{
				width: 700%;
			}
		}
		&--react{
			margin-top: 2%;
			&::before{
				width: 500%;
			}
		}
			&--ps{
				margin-top: 0;
				&::before{
					width: 900%;
					left: -1000%;
				}
			}
			&--xd{
				margin-top: 2%;
				&::before{
					width: 950%;
					left: -1050%;
				}
			}
			&--figma{
				margin-top: 2%;
				&::before{
					width: 800%;
					left: -900%;
				}
			}
			&--id{
				margin-top: 2%;
				&::before{
					width: 700%;
					left: -800%;
				}
			}
			&--ai{
				margin-top: 2%;
				&::before{
					width: 600%;
					left: -700%;
				}
			}
		  &::before{
			 content:"";
			 height: 6px;
			 border-radius:5px;
			 background-color: rgb(5, 136, 223);
			 display: block;
			 position: absolute;
			 top: 50%;
			 z-index: 1;
		  }	  
		  &::after{
			content:"";  
			width:1000%;
			height: 6px;
			border-radius:5px;
			background-color: rgb(216, 219, 221);
			display: block;
			position: absolute;
			top: 50%;
		  }
	  }
	  &__ui{
	  	  position: absolute;
	  	  bottom: 6%;
		  width: 100%;
		  z-index: 1;
		  display: flex;
		  justify-content: space-around;
		  align-items: center;
		  padding: 0 15em;
	  }
	  &__fr{
		  margin: 0;
		  padding:1rem 3rem;
		  color:#F36518;
		  font-size: 3rem;
		  font-weight: bold;
		  border-radius:50px;
		  border:2px solid;
		  &:hover{
		  	background-color:#F36518;
		  	color: #fff;
		  }
	  }
	  &__w{
		margin: 0;
		padding:1rem 3rem;
		 color:#FF7262;
		 border-radius:50px;
		 font-size: 3rem;
		  border:2px solid;
		  &:hover{
		  	background-color:#FF7262;
		  	color: #fff;
		  }  
	  }
  }
  .bio{
	  width: 100%;
	  height: 70vh;
	  background-color: #fa8333;
	  padding:3rem 12rem;
	  text-align: center;
	  &__title{
		  margin: 0;
		  padding:5rem 0 0;
		  font-size: 5rem;
		  font-weight: 300;
		  display: inline-block;
		  line-height: 5rem;
		  &::before{
			  content:'';
			  display: inline-block;
			  margin-right:10rem ;
			  width: 8rem;
			  height: 8rem;
			  background-image: url(../svg/books.svg);
			background-repeat: no-repeat;
			background-position: 0 10px; 
			}
			&::after{
				content:'';
				display: inline-block;
				margin-left:  10rem ;
				width: 8rem;
				height: 8rem;
				background-image: url(../svg/idea.svg);
				background-repeat: no-repeat;
			}
	  }
      &__text{
		  font-size: 2.8rem;
		  text-align: left;
		  width: 80%;
		  margin: 2rem auto;
	  } 
  }
  .contacts{
	width: 100%;
	height: 50vh;
	background-color: #2b8dd1;
	padding:3rem 12rem;
	text-align: center;
	&__title{
		margin: 0;
		padding:3rem 0 0;
		font-size: 5rem;
		font-weight: 300;
		display: inline-block;
	}
	&__box{
		display: flex;
		height: 30rem;
	}
	&__info{
		width: 50%;
		padding: 4% 4% 4% 12%;
	}
		&__data{
			display: flex;
			margin: 4% 0;
			align-content: center;
			font-size: 2.4rem;
			& svg{
				margin:0 6% ;
				height: 30px;
				width: 30px;
			}
		}
	
	&__socials{
		width: 50%;
		padding: 0 4%;
		& p{
			// font-size: 2.4rem;
			padding:0.5%;
		}
		& ul{
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;	
			justify-content: space-around;
		}
		& li{
			margin: 2.5% 10%;
			border-radius: 50px;
			padding: 3px;
			height: 50px;
			width: 50px;
			&:hover{
					background-color: #000;
			}
			& svg{
			color:#2b8dd1;
			fill:#000;
				&:hover {
					color:#000;
					fill:#2b8dd1;
				}
			}
				
			}
		}

	}
	.base{
		background-color: #333333;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		flex-wrap:wrap;
			font-family: $text;
			text-align: center;
		&__logo{
			text-align: center;
			display: block;
			width: 32rem;
			line-height: 4rem;
			font-size: 3rem;
			& span:first-child{
				font-size: 3.8rem;
			}
			& span:last-child{
				font-size: 4.4rem;
			}
		}
		& svg{
			display: inline-block;
			width: 30%;
			height: auto;
		}
		& span{
			margin-top: 4%;
		}
		&__cta{
			width: 50%;
			margin: 0;
			font-size: 8rem;
			display: flex;
			justify-content:space-around;
			align-items: center;
		}
		&__info{
			width: 20%;
			padding-top: 4%;
		}
		&__data{
			display: flex;
			margin: 4% 0;
			align-content: end;
			font-size: 2.4rem;
		}
		&__btn{
			color:#646768;
			width: 70%;
			border-radius:50px;
			border: 4px solid #646768;
			font-size: 2.2rem;
			word-spacing: 12px;
			&:hover{
				background-color: #646768;
				color:#333333;
			}
		}
		&__line{
			width: 100%;
		  }
		}

		@media (max-width: 1400px) {

			.services{
				height:auto;
				padding-bottom: 2rem;
				& div:nth-of-type(even){
		          padding-top: 3%;
	            }
	            &__pct{
	            	& svg{
	            		width: 80px;
	            		height: 80px;
	            	}
	            }
			}
			.about{
				height: auto;
				padding-bottom: 2rem;
				&__btn{
					margin: 2rem auto;
	                font-size: 2.2rem;
				}
			}
			.portfolio{
				height: auto;
				padding-bottom: 4rem;
				&::before{
		          left: -2rem;
		          font-size: 26rem;
	            }
	            &__btn{
                   font-size: 2.2rem;
                   	margin: 1rem auto;
                   	line-height: 4.4rem;
	            }
			}
			.skills{
				height: 130vh;
			}
            .bio{
            	height:auto ;
            	padding: 2rem 8rem;
            	&__text{
            		font-size: 2.2rem;
            	}
            }

            .contacts{
            	height:auto;
            }    
            .base{
            	&__logo{
            		width: 26rem;
            	}
               	&__cta{
            		font-size: 5rem;
            	}
            	&__data{
            		font-size: 2.2rem;
            	}
            	& span{
            		margin-top: 1%;
            	}
            }
		}
        @media (max-width: 1200px) {
        	.about{
        		&__btn{
        			width: 26%;
        		}
        	}
        	.portfolio{
        		height: 200vh;
        		&::before{
        			font-size: 22rem;
        		}
        		&__btn{
        			width: 26%;
        			height: 4%;
        		}
        	}
            .skills{
            			&__front{
					&--left{
						margin-left: 10%;
						&::after{

						}
						&::before{
							// left:150%;
						}
					}
				}
                &__web{
                	&--left{
                         margin-left:80% ;
                         &::after{
							left:-750%;
                         	width: 700%;
						}      
                	}
                }
                  &__ui{
            	padding: 4rem 10rem 0;
            }
            }
            .bio{
            	height: 80vh;
            }
            .contacts{
            	height: 60vh;
            }
        }
        @media (max-width: 1024px) and (orientation: portrait) {
                .skills{
                	height: 100vh;
                }
        } 
        @media (max-width: 1024px) { 
                .nav{
                	justify-content: flex-start;
                	&__list{
                		padding-left: 1rem;
                		justify-content: flex-start;
                	}
                	&__item{
                		font-size: 1.8rem;
                		margin: 1rem;
                	}
                }
        		.home{
        			&__logo{
                     right: 1rem;
        			}
        			&__title{
        			font-size: 10rem;	
        			}
                 &__text{
                   width: 80%;
                   text-align: justify;
                 	font-size: 2.2rem;
                 	margin-top: 4rem;
                 }
			}
			.services{
				height: auto;
			}
			.about{
				height: auto;
				padding: 0 2rem 2rem;
				&__pct{
					width: 50%;
				}
				&__btn{
					width: 38%;
					height: 10%;
					font-size: 3rem;	
				}
			}
			.portfolio{
				height: auto;
				&::before{
					font-size: 24rem;
				}
                &__container{
                 		padding: 0 4rem 3rem;
                 }
                 &__pct{
                 	margin: 2rem 0;
                 }
                 &__btn{
                 	margin: 2rem auto;
                 	height: 5.5%;
                 	width: 35%;
                 	font-size: 3rem;
                 }
			}
			.skills{
				height:120vh;
				&__pct{
					height: 8rem;
					width: 8rem;
				}
				&__front{
					&--left{
						margin-left: 15%;
						&::after{
							left:150%;
                         	width: 700%;
						}
						&::before{
							left:150%;
						}
					}
				}
                &__web{
                	&--left{
                         margin-left:75% ;
                         &::after{
							left:-750%;
                         	width: 700%;
						}      
                	}
                }
                &__pct{
                	  &--html{
			  &::before{
			  	width: 500%;
			  }
		  }
		  &--css{
			  &::before{
				  width: 500%;
			  }
		  }
		  &--js{
			&::before{
				width: 450%;
			}
		}
		&--sass{
			&::before{
				width: 470%;
			}
		}
		&--b{
			&::before{
				width: 490%;
			}
		}
		&--react{
			&::before{
				width: 350%;
			}
		}
			&--ps{
				&::before{
					width: 500%;
					left: -550%;
				}
			}
			&--xd{
				&::before{
					width: 450%;
					left: -500%;
				}
			}
			&--figma{
				&::before{
					width: 450%;
					left: -500%;
				}
			}
			&--id{
				&::before{
					width: 350%;
					left: -400%;
				}
			}
			&--ai{
				&::before{
					width: 300%;
					left: -350%;
				}
				
			}
                }
            &__ui{
            	padding: 4rem 10rem 0;
            }
			}
			.bio{

	  height: auto;
	  padding:3rem 2rem;
	  &__title{
		  &::before{
			  margin-right:5rem;
			}
			&::after{
				margin-left:5rem;
			}
	  }
      &__text{
		  font-size: 2.8rem;
		  text-align:justify;
		  width: 80%;
		  margin: 2rem auto;
	  } 

			}
			.contacts{
				height: auto;	
              padding: 3rem 4rem;
			&__info{
				padding: 6% 2%;
			}
			&__socials{
				padding: 0 2%;
			}
			}
			.base{
				&__logo{
					width: 22rem;
				}
				&__data{
					font-size:1.8rem ;

				}
				&__cta{
					font-size: 3.6rem;
					width: 40%;	
				}
				&__info{
					width: 30%;	
				}	
			} }
		@media (max-width: 992px) and (orientation: landscape) {
			.skills{
				height: 220vh;
				&__front{
				    &--left{
				    	margin-left:8%;
				    }	
				}
				&__web{
					&--left{
						margin-left:82% ;
					}
				}
				&__pct{
					& svg{
						height: 6rem;
						width: 6rem;
					}
				}
			}
		}
		@media (max-width: 992px) and (orientation: portrait) {
		     .skills{
				height: 75vh;
				  	&__pct{
                     & svg{
                     	height: 4rem;
                     	width: 4rem;
                        } 
                     }
			}	
		}
		@media (max-width: 992px) {
            	.home{
            	 &__title{
            	 	font-size: 6rem;
                    padding-top: 16%;
            	 }	
                 &__text{
                 	font-size: 1.8rem;
                 	margin-top: 2rem;
                 }
			    }
			    .portfolio{ 	
			    	padding: 2rem;
                    &::before{
                    	font-size: 20rem;
                    }
			    }
			    .skills{
                     &__fr,&__w{
                     	font-size: 2rem;
			    	}
			    }
			    .bio{
			    	height: auto;
			    }
			    .contacts{
			    	height: auto;
			    }
		  }
		  @media (max-width: 768px) and (orientation: landscape) {
			.skills{
				height: 220vh;

			}
		}
		@media (max-width: 768px) and (orientation: portrait) {
		     .skills{
				height: 90vh;
			}	
		}
		@media (max-width: 768px){ 
			.nav{
                &__item{
                	font-size: 1.4rem;
                }
			}
			.home{
				height: auto;
				padding-bottom: 2rem;
                 &__text{
                 	margin-top: 3rem;
                 }
			}
			.services{
				padding: 2rem;
			}
			.about{
				height: auto;
				padding:  2rem;
				&__content{
					flex-direction: column-reverse;
                    align-items: center;
				}
				&__text{
					width: 100%;
				}
				&__pct{
					width: 50%;
				}
				&__btn{
					width: 40%;
					height: 7%;
					font-size: 3rem;	
				}
			}
			.portfolio{
				height: auto;
				&::before{
                  display: none;
				}
                &__container{
                 		padding: 0 4rem 3rem;
                 }
                 &__pct{
                 	margin: 2rem 0;
                 }
                 &__btn{
                 	margin: 2rem auto;
                 	height: 5.5%;
                 	width: 35%;
                 	font-size: 3rem;
                 }
			}
			.skills{
				&__front{
					&--left{
						margin-left: 5%;
						&::after{
							left:150%;
                         	width: 600%;
						}
						&::before{
							left:150%;
						}
					}
				}
                &__web{
                	&--left{
                         margin-left:85% ;
                         &::after{
							left:-650%;
                         	width: 600%;
						}      
                	}
                }
                &__fr,&__w{
                	font-size: 1.8rem;
                }
                &__ui{
                	padding-bottom: 1rem;
                }
                &__pct{
                	& svg{
                	height: 60px;
                	width: 60px;
                    } 
                	  &--html{
			  &::before{
			  	width: 500%;
			  }
		  }
		  &--css{
			  &::before{
				  width: 500%;
			  }
		  }
		  &--js{
			&::before{
				width: 450%;
			}
		}
		&--sass{
			&::before{
				width: 470%;
			}
		}
		&--b{
			&::before{
				width: 490%;
			}
		}
		&--react{
			&::before{
				width: 350%;
			}
		}
			&--ps{
				&::before{
					width: 500%;
					left: -550%;
				}
			}
			&--xd{
				&::before{
					width: 450%;
					left: -500%;
				}
			}
			&--figma{
				&::before{
					width: 450%;
					left: -500%;
				}
			}
			&--id{
				&::before{
					width: 350%;
					left: -400%;
				}
			}
			&--ai{
				&::before{
					width: 300%;
					left: -350%;
				    } 
				
			      }
                }
			}
			.bio{
	  height: auto;
	  padding:3rem 2rem;
	  &__title{
		  &::before{
			  margin-right:5rem;
			}
			&::after{
				margin-left:5rem;
			}
	  }
      &__text{
		  font-size: 2.8rem;
		  text-align:justify;
		  width: 80%;
		  margin: 2rem auto;
	  } 

			}
			.contacts{
				height: auto;	
              padding: 3rem 4rem;
			&__info{
				padding: 12% 2%;
			}
			}
			.base{
				&__logo{
					display: none;
				}
				&__data{
					font-size:1.8rem ;
				}
				&__cta{
					font-size: 3.6rem;
					width: 40%;	
				}
				&__info{
					width: 50%;	
				}	
			}		
		 }
		 @media (max-width: 576px) and (orientation: landscape) {
			.skills{
				height: 180vh;
				&__front{
					&--left{
						margin-left: 16%;
						&::after{
                         	width: 800%;						}
						&::before{
						}
					}
				}
				      &__web{
                	&--left{
                         margin-left:76% ;
                         &::after{
							left:-850%;
                         	width: 800%;
						}      
                	}
                }
				&__pct{
					height: 40px;
					width: 40px;
			        }
				}
			}
		@media (max-width: 576px) and (orientation: portrait) {
			 .nav{
			 	 &__sidebar{
			 	 	width: 15rem;
			 	 }
                 &__list{
                 	margin-top: 4rem;
                 }
                 &__item{
                 	margin: 2rem 1rem;
                 }
			 }
		     .skills{
				height: 100vh;
                &__front{
					&--left{
						margin-left: 5%;
						&::after{
							left:125%;
                         	width: 450%;
						}
						&::before{
							left:125%;
						}
					}
				}
				&__web{
                	&--left{
                         margin-left:85% ;
                         &::after{
							left:-500%;
                         	width: 450%;
						}      
                	}
                }
                &__pct{
                	height: 55px;
                	width: 55px;
                &--html{
			            &::before{
			  	         width: 400%;
			            }
		            }
		            &--css{
			            &::before{
				          width: 375%;
			            }
		            }
		            &--js{
			            &::before{
				          width: 350%;
			            }
		            }
		            &--sass{
			            &::before{
				          width: 400%;
			            }
		            }
		            &--b{
			            &::before{
				          width: 300%;
			            }
		            }
		            &--react{
			            &::before{
				          width: 250%;
			            }
		            }
			        &--ps{
				        &::before{
					      width: 350%;
					      left: -400%;
				        }
			        }
			        &--xd{
				        &::before{
					      width: 300%;
					      left: -350%;
				        }
			        }
			        &--figma{
				        &::before{
					      width: 250%;
					      left: -300%;
				        }
			        }
			        &--id{
				        &::before{
					      width: 200%;
					      left: -250%;
				        }
			        }
			        &--ai{
				        &::before{
					       width: 200%;
					       left: -250%;
				        }
			        }
				}

			}	
		}
			@media (max-width: 576px) {
				.home{
					height:auto;
					padding-top: 6rem;
					padding-bottom: 4rem;
					&__title{
						font-size: 4.2rem;
					    padding-bottom: 4rem;
					}
					&__text{
                        font-size: 1.8rem;	
					}
				}
				.services{
					height: auto;
					padding-bottom: 2rem;
					&__title{
						font-size: 3rem;
					}
					&__serv{
						width: 100%;
						height: auto;
						margin: 0;
						padding: 0;
					}
				}
				.about{
					height: auto;
					padding:0 0 2rem;
					&__text{
						text-align: justify;
					}
					&__item{
						width: 100%;
					}
					&__pct{
						width: 80%;
					}
					&__icon{
						width: 30%;
					}
					&__btn{
						height: 5%;
						width: 70%;
						font-size: 2.2rem;
					}
				}
				.portfolio{
					height: auto;
					padding-bottom: 2rem;
					&::before{
						display: none;
					}
					&__container{
						flex-direction: column;
					}
					&__pct{
						padding:  0;
						&:nth-child(odd){
							width: 100%;
						}
						&:nth-child(even){
							width: 100%;
						}
					}
					&__btn{
						width: 70%;
						height: 3%;
						font-size: 2.2rem;
					}
				}
				.skills{
					&__ui{
						bottom: 0;
						width: 100%;
						padding: 2rem 1rem;	
                        & p{
                        	font-size: 1.6rem;
                        }
					}
				}
				.bio{
					padding: 2rem 0 2rem;
                      &__title{
		                &::before{
                         display: none;
			            }
			            &::after{
                         display: none;
			            }
	                  }
	                  &__text{
	                  	font-size: 2rem;
	                  }
				    }
				    .contacts{
				    	padding: 0;
				    	&__box{
				    	height:auto;
				    		flex-direction: column;
				    	}
				    	&__info{
				    		width: 100%;
				    		padding: 0;
				    	}
				    	&__socials{
				    		width: 100%;
				    		padding: 0;
				    		& ul{
				    			padding-left: 0;
				    		}
				    	}
				    }
				    .base{
				    	padding: 1rem;
				    	&__logo{
				    		display: none;
				    	}
				    	&__cta{
				    		width: 100%;
				    	}
				    	&__info{
				    		width: 100%;
                            & div{
                            	width: 80%;
                                margin: 1rem auto;
                            }
				    	}
				    }
			}
			@media (max-width: 380px) {
				.home{
					&__title{
						font-size: 3rem;
					}
				}
				.skills{
					&__pct{
						height: 50px;
						width: 50px;
					}
				}

			}
	
	  
  
 